/* Code tidied up by ScrapBook */
.tb-megamenu .clearfix {  }
.tb-megamenu .clearfix::before, .tb-megamenu .clearfix::after { display: table; content: ""; line-height: 0; }
.tb-megamenu .clearfix::after { clear: both; }
.tb-megamenu [class*="span"] { float: left; min-height: 1px; margin-left: 20px; }
.tb-megamenu .row-fluid { width: 100%; }
.tb-megamenu .row-fluid::before, .tb-megamenu .row-fluid::after { display: table; content: ""; line-height: 0; }
.tb-megamenu .row-fluid::after { clear: both; }
.tb-megamenu .row-fluid [class*="span"] { display: block; width: 100%; min-height: 30px; box-sizing: border-box; float: left; margin-left: 2.12766%; }
.tb-megamenu .row-fluid [class*="span"]:first-child { margin-left: 0px; }
.tb-megamenu .row-fluid .span12 { width: 100%; }
.tb-megamenu .row-fluid .span6 { width: 48.9362%; }
.tb-megamenu .row-fluid .span5 { width: 40.4255%; }
.tb-megamenu .btn { display: inline-block; padding: 4px 12px; margin-bottom: 0px; font-size: 14px; line-height: 20px; text-align: center; vertical-align: middle; cursor: pointer; color: rgb(51, 51, 51); text-shadow: 0px 1px 1px rgba(255, 255, 255, 0.75); background-color: rgb(245, 245, 245); background-image: linear-gradient(to bottom, rgb(255, 255, 255), rgb(230, 230, 230)); background-repeat: repeat-x; border-width: 1px; border-style: solid; border-color: rgb(204, 204, 204) rgb(204, 204, 204) rgb(179, 179, 179); -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; border-radius: 4px; box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.2) inset, 0px 1px 2px rgba(0, 0, 0, 0.05); }
.tb-megamenu .btn:hover, .tb-megamenu .btn:focus, .tb-megamenu .btn:active, .tb-megamenu .btn.active, .tb-megamenu .btn.disabled, .tb-megamenu .btn[disabled] { color: rgb(51, 51, 51); background-color: rgb(230, 230, 230); }
.tb-megamenu .btn:active, .tb-megamenu .btn.active {  }
.tb-megamenu .btn:first-child {  }
.tb-megamenu .btn:hover, .tb-megamenu .btn:focus { color: rgb(51, 51, 51); text-decoration: none; background-position: 0px -15px; transition: background-position 0.1s linear 0s; }
.tb-megamenu .btn:focus { outline: thin dotted rgb(51, 51, 51); outline-offset: -2px; }
.tb-megamenu .btn.active, .tb-megamenu .btn:active { background-image: none; outline: 0px none; box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15) inset, 0px 1px 2px rgba(0, 0, 0, 0.05); }
.tb-megamenu button.btn, .tb-megamenu input.btn[type="submit"] {  }
.tb-megamenu button.btn::-moz-focus-inner, .tb-megamenu input.btn[type="submit"]::-moz-focus-inner { padding: 0px; border: 0px none; }
.tb-megamenu .nav { margin-left: 0px; margin-bottom: 20px; list-style: outside none none; }
.tb-megamenu .nav > li > a { display: block; }
.tb-megamenu .nav > li > a:hover, .tb-megamenu .nav > li > a:focus { text-decoration: none; background-color: rgb(238, 238, 238); }
.tb-megamenu .dropup, .tb-megamenu .dropdown { position: relative; }
.tb-megamenu .dropdown-toggle {  }
.tb-megamenu .dropdown-toggle:active, .tb-megamenu .open .dropdown-toggle { outline: 0px none; }
.tb-megamenu .dropdown-menu { position: absolute; top: 100%; left: 0px; z-index: 1000; display: none; float: left; min-width: 160px; padding: 5px 0px; margin: 2px 0px 0px; list-style: outside none none; background-color: rgb(255, 255, 255); border: 1px solid rgba(0, 0, 0, 0.2); border-radius: 6px; box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2); background-clip: padding-box; }
@media (min-width: 768px) and (max-width: 979px) {
}
@media (max-width: 767px) {
}
@media print {
}
@media (max-width: 767px) {
  .tb-megamenu .row-fluid { width: 100%; }
  .tb-megamenu [class*="span"], .tb-megamenu .uneditable-input[class*="span"], .tb-megamenu .row-fluid [class*="span"] { float: none; display: block; width: 100%; margin-left: 0px; box-sizing: border-box; }
  .tb-megamenu .span12, .tb-megamenu .row-fluid .span12 { width: 100%; box-sizing: border-box; }
}
@media (max-width: 480px) {
  .tb-megamenu .nav-collapse { transform: translate3d(0px, 0px, 0px); }
}
@media (min-width: 768px) and (max-width: 979px) {
  .tb-megamenu [class*="span"] { float: left; min-height: 1px; margin-left: 20px; }
  .tb-megamenu .row-fluid { width: 100%; }
  .tb-megamenu .row-fluid::before, .tb-megamenu .row-fluid::after { display: table; content: ""; line-height: 0; }
  .tb-megamenu .row-fluid::after { clear: both; }
  .tb-megamenu .row-fluid [class*="span"] { display: block; width: 100%; min-height: 30px; box-sizing: border-box; float: left; margin-left: 2.76243%; }
  .tb-megamenu .row-fluid [class*="span"]:first-child { margin-left: 0px; }
  .tb-megamenu .row-fluid .span12 { width: 100%; }
  .tb-megamenu .row-fluid .span6 { width: 48.6188%; }
  .tb-megamenu .row-fluid .span5 { width: 40.0552%; }
}
@media (min-width: 1200px) {
  .tb-megamenu [class*="span"] { float: left; min-height: 1px; margin-left: 30px; }
  .tb-megamenu .row-fluid { width: 100%; }
  .tb-megamenu .row-fluid::before, .tb-megamenu .row-fluid::after { display: table; content: ""; line-height: 0; }
  .tb-megamenu .row-fluid::after { clear: both; }
  .tb-megamenu .row-fluid [class*="span"] { display: block; width: 100%; min-height: 30px; box-sizing: border-box; float: left; margin-left: 2.5641%; }
  .tb-megamenu .row-fluid [class*="span"]:first-child { margin-left: 0px; }
  .tb-megamenu .row-fluid .span12 { width: 100%; }
  .tb-megamenu .row-fluid .span6 { width: 48.7179%; }
  .tb-megamenu .row-fluid .span5 { width: 40.1709%; }
}
@media (max-width: 979px) {
  .tb-megamenu .nav-collapse { clear: both; }
  .tb-megamenu .nav-collapse .nav { float: none; margin: 0px 0px 10px; }
  .tb-megamenu .nav-collapse .nav > li { float: none; }
  .tb-megamenu .nav-collapse .nav > li > a { margin-bottom: 2px; }
  .tb-megamenu .nav-collapse .nav > li > a, .tb-megamenu .nav-collapse .dropdown-menu a { padding: 9px 15px; font-weight: bold; color: rgb(119, 119, 119); border-radius: 3px; }
  .tb-megamenu .nav-collapse .dropdown-menu li + li a { margin-bottom: 2px; }
  .tb-megamenu .nav-collapse .nav > li > a:hover, .tb-megamenu .nav-collapse .nav > li > a:focus, .tb-megamenu .nav-collapse .dropdown-menu a:hover, .tb-megamenu .nav-collapse .dropdown-menu a:focus { background-color: rgb(242, 242, 242); }
  .tb-megamenu .nav-collapse .dropdown-menu { position: static; top: auto; left: auto; float: none; display: none; max-width: none; margin: 0px 15px; padding: 0px; background-color: transparent; border: medium none; border-radius: 0px; box-shadow: none; }
  .tb-megamenu .nav-collapse .dropdown-menu::before, .tb-megamenu .nav-collapse .dropdown-menu::after { display: none; }
  .tb-megamenu .nav-collapse .nav > li > .dropdown-menu::before, .tb-megamenu .nav-collapse .nav > li > .dropdown-menu::after { display: none; }
  .tb-megamenu .nav-collapse, .tb-megamenu .nav-collapse.collapse { overflow: hidden; height: 0px; }
}
@media (min-width: 980px) {
}
.tb-megamenu .clearfix {  }
.tb-megamenu .clearfix::before, .tb-megamenu .clearfix::after { display: table; content: ""; line-height: 0; }
.tb-megamenu .clearfix::after { clear: both; }
.tb-megamenu .mega-inner { padding: 10px; }
.tb-megamenu .mega-inner::before, .tb-megamenu .mega-inner::after { display: table; content: ""; line-height: 0; }
.tb-megamenu .mega-inner::after { clear: both; }
.tb-megamenu .mega > .mega-dropdown-menu { min-width: 200px; display: none; }
.tb-megamenu .span12.mega-col-nav .mega-inner { padding: 10px; }
.tb-megamenu .mega-nav, .tb-megamenu .dropdown-menu .mega-nav { margin: 0px; padding: 0px; list-style: outside none none; }
.tb-megamenu .mega-nav > li, .tb-megamenu .dropdown-menu .mega-nav > li { display: block; float: none; list-style: outside none none; margin-left: 0px; }
.tb-megamenu .mega-nav > li a, .tb-megamenu .dropdown-menu .mega-nav > li a { white-space: normal; }
.tb-megamenu .tb-block { margin-bottom: 10px; }
.tb-megamenu .nav { margin-left: 0px; margin-bottom: 0px; list-style: outside none none; }
.tb-megamenu .nav > li > a { display: block; }
.tb-megamenu .nav > li > a:hover { text-decoration: none; background-color: rgb(238, 238, 238); }
.tb-megamenu .dropup, .tb-megamenu .dropdown { position: relative; }
.tb-megamenu .dropdown-toggle {  }
.tb-megamenu .dropdown-toggle:active, .tb-megamenu .open .dropdown-toggle { outline: 0px none; }
.tb-megamenu .dropdown-menu { position: absolute; top: 100%; left: 0px; z-index: 1000; display: none; float: left; min-width: 160px; padding: 5px 0px; margin: 2px 0px 0px; list-style: outside none none; background-color: rgb(255, 255, 255); border: 1px solid rgba(0, 0, 0, 0.2); border-radius: 6px; box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2); background-clip: padding-box; }
.tb-megamenu .dropdown-menu a { display: block; padding: 3px 20px; clear: both; font-weight: normal; line-height: 18px; color: rgb(51, 51, 51); white-space: nowrap; }
.tb-megamenu .dropdown-menu li > a:hover, .tb-megamenu .dropdown-menu li > a:focus, .tb-megamenu .dropdown-submenu:hover > a { text-decoration: none; color: rgb(255, 255, 255); background-color: rgb(0, 129, 194); background-image: linear-gradient(to bottom, rgb(0, 136, 204), rgb(0, 119, 179)); background-repeat: repeat-x; }
.tb-megamenu .btn { display: inline-block; padding: 4px 14px; margin-bottom: 0px; font-size: 13px; line-height: 18px; text-align: center; vertical-align: middle; cursor: pointer; color: rgb(51, 51, 51); text-shadow: 0px 1px 1px rgba(255, 255, 255, 0.75); background-color: rgb(245, 245, 245); background-image: linear-gradient(to bottom, rgb(255, 255, 255), rgb(230, 230, 230)); background-repeat: repeat-x; border-width: 1px; border-style: solid; border-color: rgb(187, 187, 187) rgb(187, 187, 187) rgb(162, 162, 162); -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; border-radius: 4px; box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.2) inset, 0px 1px 2px rgba(0, 0, 0, 0.05); }
.tb-megamenu .btn:hover, .tb-megamenu .btn:active, .tb-megamenu .btn.active, .tb-megamenu .btn.disabled, .tb-megamenu .btn[disabled] { color: rgb(51, 51, 51); background-color: rgb(230, 230, 230); }
.tb-megamenu .btn:active, .tb-megamenu .btn.active {  }
.tb-megamenu .btn:first-child {  }
.tb-megamenu .btn:hover { color: rgb(51, 51, 51); text-decoration: none; background-color: rgb(230, 230, 230); background-position: 0px -15px; transition: background-position 0.1s linear 0s; }
.tb-megamenu .btn:focus { outline: thin dotted rgb(51, 51, 51); outline-offset: -2px; }
.tb-megamenu .btn.active, .tb-megamenu .btn:active { background-color: rgb(230, 230, 230); background-image: none; outline: 0px none; box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15) inset, 0px 1px 2px rgba(0, 0, 0, 0.05); }
.tb-megamenu .btn { border-color: rgba(0, 0, 0, 0.15) rgba(0, 0, 0, 0.15) rgba(0, 0, 0, 0.25); }
.tb-megamenu button.btn, .tb-megamenu input.btn[type="submit"] {  }
.tb-megamenu button.btn::-moz-focus-inner, .tb-megamenu input.btn[type="submit"]::-moz-focus-inner { padding: 0px; border: 0px none; }
.tb-megamenu label, .tb-megamenu input, .tb-megamenu button, .tb-megamenu select, .tb-megamenu textarea { font-size: 13px; font-weight: normal; line-height: 18px; }
.tb-megamenu input, .tb-megamenu button, .tb-megamenu select, .tb-megamenu textarea { font-family: "Helvetica Neue",Helvetica,Arial,sans-serif; }
@media (max-width: 979px) {
}
@media (max-width: 767px) {
}
@media (min-width: 738px) {
}
@media (max-width: 738px) {
}
@media (min-width: 481px) {
}
@media (max-width: 480px) {
  .tb-megamenu .btn { font-size: 11px; padding: 1px 4px 2px; }
}
@media (max-width: 738px) {
  .tb-megamenu .nav-collapse .nav, .tb-megamenu .navbar .nav-collapse .nav.pull-right { margin: 0px; }
  .tb-megamenu .nav-collapse .dropdown-menu { margin: 0px; }
  .tb-megamenu .nav-collapse .nav li a { margin-bottom: 0px; border-top: 1px solid rgb(217, 217, 217); }
  .tb-megamenu .nav-collapse .nav > li > a, .tb-megamenu .nav-collapse .dropdown-menu a { border-radius: 0px; }
  .tb-megamenu .nav-collapse .dropdown-menu li + li a { margin-bottom: 0px; }
}
.tb-megamenu { background-color: rgb(0, 0, 0); }
.tb-megamenu::before, .tb-megamenu::after { content: ""; display: table; line-height: 0; }
.tb-megamenu::after { clear: both; }
.tb-megamenu .nav { margin: 0px; }
.tb-megamenu .nav > li { float: left; margin-left: 0px; }
.tb-megamenu .nav > li > a { border-right: 1px solid rgb(34, 34, 34); border-top: 0px none; color: rgb(255, 255, 255); font-weight: bold; padding: 15px 20px; text-shadow: none; }
.tb-megamenu .nav > li > a:focus, .tb-megamenu .nav > li > a:hover { background-color: rgb(255, 255, 255); color: rgb(229, 78, 75); text-decoration: none; text-shadow: none; outline: medium none; }
.tb-megamenu .btn-navbar { display: none; float: left; padding: 10px; margin: 0px; color: rgb(255, 255, 255); text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.25); background-color: rgb(232, 232, 232); box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.1) inset, 0px 1px 0px rgba(255, 255, 255, 0.075); }
.tb-megamenu .btn-navbar:hover, .tb-megamenu .btn-navbar:focus, .tb-megamenu .btn-navbar:active, .tb-megamenu .btn-navbar.active, .tb-megamenu .btn-navbar.disabled, .tb-megamenu .btn-navbar[disabled] { color: rgb(255, 255, 255); background-color: rgb(217, 217, 217); }
.tb-megamenu .btn-navbar:active, .tb-megamenu .btn-navbar.active {  }
.tb-megamenu .dropdown-menu { box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2); }
.tb-megamenu .dropdown-menu li > a { border-top: 1px solid rgb(238, 238, 238); padding: 5px 20px; text-shadow: none; }
.tb-megamenu .dropdown-menu li:first-child > a { border-top: 0px none; }
.tb-megamenu .mega-nav > li:first-child > a, .tb-megamenu .dropdown-menu .mega-nav > li:first-child > a { margin-top: 0px; padding-top: 0px; }
.tb-megamenu .nav > li > .dropdown-menu::before { display: none; }
.tb-megamenu .nav > li > .dropdown-menu::after { display: none; }
.tb-megamenu .mega-inner { padding: 10px; }
.tb-megamenu .mega-nav > li a, .tb-megamenu .dropdown-menu .mega-nav > li a { padding: 5px 0px; }
.tb-megamenu .dropdown-menu { position: absolute; top: 100%; left: 0px; z-index: 1000; display: none; float: left; min-width: 160px; list-style: outside none none; background-color: rgb(255, 255, 255); border-width: medium 1px 3px; border-style: none solid solid; border-color: currentcolor rgba(0, 0, 0, 0.2) rgb(230, 88, 85); -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; padding: 0px; margin: 0px; border-radius: 0px; box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2); background-clip: padding-box; }
.tb-megamenu .dropdown-menu li > a { clear: both; color: rgb(51, 51, 51); display: block; line-height: 20px; font-weight: normal; padding: 3px 20px; text-shadow: none; white-space: nowrap; }
.tb-megamenu .dropdown-menu li > a:hover, .tb-megamenu .dropdown-menu li > a:focus, .tb-megamenu .dropdown-submenu:hover > a { background-color: inherit; background-image: none; color: rgb(229, 78, 75); text-decoration: none; }
@media (min-width: 980px) and (max-width: 1199px) {
  .tb-megamenu [class*="span"] { float: left; min-height: 1px; margin-left: 40px; }
  .tb-megamenu .span12 { width: 932px; }
  .tb-megamenu .span6 { width: 446px; }
  .tb-megamenu .span5 { width: 365px; }
  .tb-megamenu .row-fluid { width: 100%; }
  .tb-megamenu .row-fluid::before, .tb-megamenu .row-fluid::after { display: table; content: ""; line-height: 0; }
  .tb-megamenu .row-fluid::after { clear: both; }
  .tb-megamenu .row-fluid [class*="span"] { display: block; width: 100%; min-height: 30px; box-sizing: border-box; float: left; margin-left: 4.29185%; }
  .tb-megamenu .row-fluid [class*="span"]:first-child { margin-left: 0px; }
  .tb-megamenu .row-fluid .span12 { width: 100%; }
  .tb-megamenu .row-fluid .span6 { width: 47.8541%; }
  .tb-megamenu .row-fluid .span5 { width: 39.1631%; }
}
@media (min-width: 768px) and (max-width: 979px) {
}
@media (min-width: 980px) and (max-width: 1199px) {
}
@media (min-width: 1200px) {
}
@media (min-width: 600px) and (max-width: 767px) {
  .tb-megamenu .row, .tb-megamenu .row-fluid { width: 100%; margin-left: 0px; }
  .tb-megamenu .row::before, .tb-megamenu .row::after, .tb-megamenu .row-fluid::before, .tb-megamenu .row-fluid::after { display: table; content: ""; line-height: 0; }
  .tb-megamenu .row::after, .tb-megamenu .row-fluid::after { clear: both; }
  .tb-megamenu .row [class*="span"], .tb-megamenu .row-fluid [class*="span"] { display: block; width: 100%; min-height: 30px; box-sizing: border-box; float: left; margin-left: 2.71739%; }
  .row [class*="span"]:first-child:not(.pull-right), .row-fluid [class*="span"]:first-child:not(.pull-right) { margin-left: 0px; }
  .tb-megamenu .row .span12, .tb-megamenu .row-fluid .span12 { width: 100%; }
  .tb-megamenu .row .span6, .tb-megamenu .row-fluid .span6 { width: 48.6413%; }
  .tb-megamenu .row .span5, .tb-megamenu .row-fluid .span5 { width: 40.0815%; }
}
@media (max-width: 979px) {
  .tb-megamenu .always-show .mega > .mega-dropdown-menu, .tb-megamenu .always-show .dropdown-menu { display: block !important; }
}
@media (max-width: 979px) {
  .tb-megamenu { background-color: inherit; height: auto; }
  .tb-megamenu .btn-navbar { display: block; margin-bottom: 10px; }
  .tb-megamenu .btn-navbar:hover { cursor: pointer; }
  .tb-megamenu .nav-collapse { background: rgb(0, 0, 0) none repeat scroll 0% 0%; margin-top: 10px; position: absolute; top: 27px; width: 100%; z-index: 999; }
  .tb-megamenu .nav-collapse .nav { margin: 0px; }
  .tb-megamenu .nav-collapse .nav > li > a { font-size: 15px; margin-bottom: 0px; }
  .tb-megamenu .nav-collapse .nav > li > a, .tb-megamenu .nav-collapse .dropdown-menu a { border-bottom: 1px solid rgb(34, 34, 34); border-right: medium none; color: rgb(255, 255, 255); text-shadow: none; border-radius: 0px; }
  .tb-megamenu .nav-collapse .dropdown-menu li + li a { margin-bottom: 0px; }
  .tb-megamenu .nav-collapse .nav > li > a:hover, .tb-megamenu .nav-collapse .nav > li > a:focus { background-color: rgb(255, 255, 255); background-image: none; color: rgb(229, 78, 75); }
  .tb-megamenu .nav-collapse .dropdown-menu a { border-top: 1px solid rgb(34, 34, 34); border-bottom: 0px none; font-weight: normal; padding: 10px 20px; }
  .tb-megamenu .nav-collapse .dropdown-menu a:hover, .tb-megamenu .nav-collapse .dropdown-menu a:focus { background-color: inherit; background-image: none; }
  .tb-megamenu .nav-collapse .dropdown-menu { margin: 0px; padding: 0px; background-color: rgb(0, 0, 0); border: medium none; border-radius: 0px; box-shadow: none; width: 100% !important; }
}
@media (min-width: 980px) {
}
@media (max-width: 979px) {
  .tb-megamenu .mega-inner { padding: 10px 20px; }
  .tb-megamenu .row-fluid, .tb-megamenu .mega-dropdown-menu, .tb-megamenu .row-fluid [class*="span"] { width: 100% !important; min-width: 100% !important; left: 0px !important; margin-left: 0px !important; transform: none !important; }
  .tb-megamenu .mega-nav > li a, .tb-megamenu .dropdown-menu .mega-nav > li a { padding: 5px 0px; margin-left: 20px; }
  .tb-megamenu .tb-block { margin-bottom: 0px; }
}
.tb-megamenu { position: relative; }
.tb-megamenu .nav, .tb-megamenu .tb-block ul, .tb-megamenu .tb-block .nav { padding: 0px; }
@media (max-width: 979px) {
  .tb-megamenu .nav-collapse .dropdown-menu .views-field-field-image a { border-top: 0px none; }
  .tb-megamenu .nav-collapse, .tb-megamenu .nav-collapse.collapse { z-index: 999; }
}
.field-slideshow { overflow: hidden; max-width: 100%; }
.field-slideshow-slide, .field-slideshow-slide a, .field-slideshow-slide img { max-width: 100%; height: auto !important; width: auto !important; }
.jcarousel-clip { overflow: hidden; }
.jcarousel-skin-partners .jcarousel-container-horizontal { width: 100%; height: 102px; padding: 20px 40px; margin: auto; }
.jcarousel-skin-partners .jcarousel-clip-horizontal { width: 100%; overflow: hidden; margin: 0px auto !important; }
.jcarousel-view--partneri--block { margin: 0px auto !important; }
.jcarousel-skin-partners .jcarousel-item { padding: 0px; width: 130px !important; height: 120px; overflow: hidden; list-style: outside none none; background: rgb(255, 255, 255) none repeat scroll 0% 0%; margin-right: 20px; }
.jcarousel-skin-partners .jcarousel-item-horizontal { margin: 0px 4px; }
.jcarousel-skin-partners .jcarousel-prev-horizontal { position: absolute; top: 56px; left: 0px; text-align: right; }
.jcarousel-skin-partners .jcarousel-next-horizontal { position: absolute; top: 56px; right: 0px; text-align: left; }
.animated { animation-duration: 1s; animation-fill-mode: both; }
@keyframes bounce {
0%, 20%, 53%, 80%, 100% { animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); transform: translate3d(0px, 0px, 0px); }
40%, 43% { animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06); transform: translate3d(0px, -30px, 0px); }
70% { animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06); transform: translate3d(0px, -15px, 0px); }
90% { transform: translate3d(0px, -4px, 0px); }
}
@keyframes flash {
0%, 50%, 100% { opacity: 1; }
25%, 75% { opacity: 0; }
}
@keyframes pulse {
0% { transform: scale3d(1, 1, 1); }
50% { transform: scale3d(1.05, 1.05, 1.05); }
100% { transform: scale3d(1, 1, 1); }
}
@keyframes rubberBand {
0% { transform: scale3d(1, 1, 1); }
30% { transform: scale3d(1.25, 0.75, 1); }
40% { transform: scale3d(0.75, 1.25, 1); }
50% { transform: scale3d(1.15, 0.85, 1); }
65% { transform: scale3d(0.95, 1.05, 1); }
75% { transform: scale3d(1.05, 0.95, 1); }
100% { transform: scale3d(1, 1, 1); }
}
@keyframes shake {
0%, 100% { transform: translate3d(0px, 0px, 0px); }
10%, 30%, 50%, 70%, 90% { transform: translate3d(-10px, 0px, 0px); }
20%, 40%, 60%, 80% { transform: translate3d(10px, 0px, 0px); }
}
@keyframes headShake {
0% { transform: translateX(0px); }
6.5% { transform: translateX(-6px) rotateY(-9deg); }
18.5% { transform: translateX(5px) rotateY(7deg); }
31.5% { transform: translateX(-3px) rotateY(-5deg); }
43.5% { transform: translateX(2px) rotateY(3deg); }
50% { transform: translateX(0px); }
}
@keyframes swing {
20% { transform: rotate3d(0, 0, 1, 15deg); }
40% { transform: rotate3d(0, 0, 1, -10deg); }
60% { transform: rotate3d(0, 0, 1, 5deg); }
80% { transform: rotate3d(0, 0, 1, -5deg); }
100% { transform: rotate3d(0, 0, 1, 0deg); }
}
@keyframes tada {
0% { transform: scale3d(1, 1, 1); }
10%, 20% { transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg); }
30%, 50%, 70%, 90% { transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg); }
40%, 60%, 80% { transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg); }
100% { transform: scale3d(1, 1, 1); }
}
@keyframes wobble {
0% { transform: none; }
15% { transform: translate3d(-25%, 0px, 0px) rotate3d(0, 0, 1, -5deg); }
30% { transform: translate3d(20%, 0px, 0px) rotate3d(0, 0, 1, 3deg); }
45% { transform: translate3d(-15%, 0px, 0px) rotate3d(0, 0, 1, -3deg); }
60% { transform: translate3d(10%, 0px, 0px) rotate3d(0, 0, 1, 2deg); }
75% { transform: translate3d(-5%, 0px, 0px) rotate3d(0, 0, 1, -1deg); }
100% { transform: none; }
}
@keyframes jello {
0%, 11.1%, 100% { transform: none; }
22.2% { transform: skewX(-12.5deg) skewY(-12.5deg); }
33.3% { transform: skewX(6.25deg) skewY(6.25deg); }
44.4% { transform: skewX(-3.125deg) skewY(-3.125deg); }
55.5% { transform: skewX(1.5625deg) skewY(1.5625deg); }
66.6% { transform: skewX(-0.78125deg) skewY(-0.78125deg); }
77.7% { transform: skewX(0.390625deg) skewY(0.390625deg); }
88.8% { transform: skewX(-0.195313deg) skewY(-0.195313deg); }
}
@keyframes bounceIn {
0%, 20%, 40%, 60%, 80%, 100% { animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
0% { opacity: 0; transform: scale3d(0.3, 0.3, 0.3); }
20% { transform: scale3d(1.1, 1.1, 1.1); }
40% { transform: scale3d(0.9, 0.9, 0.9); }
60% { opacity: 1; transform: scale3d(1.03, 1.03, 1.03); }
80% { transform: scale3d(0.97, 0.97, 0.97); }
100% { opacity: 1; transform: scale3d(1, 1, 1); }
}
@keyframes bounceInDown {
0%, 60%, 75%, 90%, 100% { animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
0% { opacity: 0; transform: translate3d(0px, -3000px, 0px); }
60% { opacity: 1; transform: translate3d(0px, 25px, 0px); }
75% { transform: translate3d(0px, -10px, 0px); }
90% { transform: translate3d(0px, 5px, 0px); }
100% { transform: none; }
}
@keyframes bounceInLeft {
0%, 60%, 75%, 90%, 100% { animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
0% { opacity: 0; transform: translate3d(-3000px, 0px, 0px); }
60% { opacity: 1; transform: translate3d(25px, 0px, 0px); }
75% { transform: translate3d(-10px, 0px, 0px); }
90% { transform: translate3d(5px, 0px, 0px); }
100% { transform: none; }
}
@keyframes bounceInRight {
0%, 60%, 75%, 90%, 100% { animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
0% { opacity: 0; transform: translate3d(3000px, 0px, 0px); }
60% { opacity: 1; transform: translate3d(-25px, 0px, 0px); }
75% { transform: translate3d(10px, 0px, 0px); }
90% { transform: translate3d(-5px, 0px, 0px); }
100% { transform: none; }
}
@keyframes bounceInUp {
0%, 60%, 75%, 90%, 100% { animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
0% { opacity: 0; transform: translate3d(0px, 3000px, 0px); }
60% { opacity: 1; transform: translate3d(0px, -20px, 0px); }
75% { transform: translate3d(0px, 10px, 0px); }
90% { transform: translate3d(0px, -5px, 0px); }
100% { transform: translate3d(0px, 0px, 0px); }
}
@keyframes bounceOut {
20% { transform: scale3d(0.9, 0.9, 0.9); }
50%, 55% { opacity: 1; transform: scale3d(1.1, 1.1, 1.1); }
100% { opacity: 0; transform: scale3d(0.3, 0.3, 0.3); }
}
@keyframes bounceOutDown {
20% { transform: translate3d(0px, 10px, 0px); }
40%, 45% { opacity: 1; transform: translate3d(0px, -20px, 0px); }
100% { opacity: 0; transform: translate3d(0px, 2000px, 0px); }
}
@keyframes bounceOutLeft {
20% { opacity: 1; transform: translate3d(20px, 0px, 0px); }
100% { opacity: 0; transform: translate3d(-2000px, 0px, 0px); }
}
@keyframes bounceOutRight {
20% { opacity: 1; transform: translate3d(-20px, 0px, 0px); }
100% { opacity: 0; transform: translate3d(2000px, 0px, 0px); }
}
@keyframes bounceOutUp {
20% { transform: translate3d(0px, -10px, 0px); }
40%, 45% { opacity: 1; transform: translate3d(0px, 20px, 0px); }
100% { opacity: 0; transform: translate3d(0px, -2000px, 0px); }
}
@keyframes fadeIn {
0% { opacity: 0; }
100% { opacity: 1; }
}
@keyframes fadeInDown {
0% { opacity: 0; transform: translate3d(0px, -100%, 0px); }
100% { opacity: 1; transform: none; }
}
@keyframes fadeInDownBig {
0% { opacity: 0; transform: translate3d(0px, -2000px, 0px); }
100% { opacity: 1; transform: none; }
}
@keyframes fadeInLeft {
0% { opacity: 0; transform: translate3d(-100%, 0px, 0px); }
100% { opacity: 1; transform: none; }
}
@keyframes fadeInLeftBig {
0% { opacity: 0; transform: translate3d(-2000px, 0px, 0px); }
100% { opacity: 1; transform: none; }
}
@keyframes fadeInRight {
0% { opacity: 0; transform: translate3d(100%, 0px, 0px); }
100% { opacity: 1; transform: none; }
}
@keyframes fadeInRightBig {
0% { opacity: 0; transform: translate3d(2000px, 0px, 0px); }
100% { opacity: 1; transform: none; }
}
@keyframes fadeInUp {
0% { opacity: 0; transform: translate3d(0px, 100%, 0px); }
100% { opacity: 1; transform: none; }
}
@keyframes fadeInUpBig {
0% { opacity: 0; transform: translate3d(0px, 2000px, 0px); }
100% { opacity: 1; transform: none; }
}
@keyframes fadeOut {
0% { opacity: 1; }
100% { opacity: 0; }
}
.fadeOut { animation-name: fadeOut; }
@keyframes fadeOutDown {
0% { opacity: 1; }
100% { opacity: 0; transform: translate3d(0px, 100%, 0px); }
}
@keyframes fadeOutDownBig {
0% { opacity: 1; }
100% { opacity: 0; transform: translate3d(0px, 2000px, 0px); }
}
@keyframes fadeOutLeft {
0% { opacity: 1; }
100% { opacity: 0; transform: translate3d(-100%, 0px, 0px); }
}
@keyframes fadeOutLeftBig {
0% { opacity: 1; }
100% { opacity: 0; transform: translate3d(-2000px, 0px, 0px); }
}
@keyframes fadeOutRight {
0% { opacity: 1; }
100% { opacity: 0; transform: translate3d(100%, 0px, 0px); }
}
@keyframes fadeOutRightBig {
0% { opacity: 1; }
100% { opacity: 0; transform: translate3d(2000px, 0px, 0px); }
}
@keyframes fadeOutUp {
0% { opacity: 1; }
100% { opacity: 0; transform: translate3d(0px, -100%, 0px); }
}
@keyframes fadeOutUpBig {
0% { opacity: 1; }
100% { opacity: 0; transform: translate3d(0px, -2000px, 0px); }
}
@keyframes flip {
0% { transform: perspective(400px) rotate3d(0, 1, 0, -360deg); animation-timing-function: ease-out; }
40% { transform: perspective(400px) translate3d(0px, 0px, 150px) rotate3d(0, 1, 0, -190deg); animation-timing-function: ease-out; }
50% { transform: perspective(400px) translate3d(0px, 0px, 150px) rotate3d(0, 1, 0, -170deg); animation-timing-function: ease-in; }
80% { transform: perspective(400px) scale3d(0.95, 0.95, 0.95); animation-timing-function: ease-in; }
100% { transform: perspective(400px); animation-timing-function: ease-in; }
}
@keyframes flipInX {
0% { transform: perspective(400px) rotate3d(1, 0, 0, 90deg); animation-timing-function: ease-in; opacity: 0; }
40% { transform: perspective(400px) rotate3d(1, 0, 0, -20deg); animation-timing-function: ease-in; }
60% { transform: perspective(400px) rotate3d(1, 0, 0, 10deg); opacity: 1; }
80% { transform: perspective(400px) rotate3d(1, 0, 0, -5deg); }
100% { transform: perspective(400px); }
}
@keyframes flipInY {
0% { transform: perspective(400px) rotate3d(0, 1, 0, 90deg); animation-timing-function: ease-in; opacity: 0; }
40% { transform: perspective(400px) rotate3d(0, 1, 0, -20deg); animation-timing-function: ease-in; }
60% { transform: perspective(400px) rotate3d(0, 1, 0, 10deg); opacity: 1; }
80% { transform: perspective(400px) rotate3d(0, 1, 0, -5deg); }
100% { transform: perspective(400px); }
}
@keyframes flipOutX {
0% { transform: perspective(400px); }
30% { transform: perspective(400px) rotate3d(1, 0, 0, -20deg); opacity: 1; }
100% { transform: perspective(400px) rotate3d(1, 0, 0, 90deg); opacity: 0; }
}
@keyframes flipOutY {
0% { transform: perspective(400px); }
30% { transform: perspective(400px) rotate3d(0, 1, 0, -15deg); opacity: 1; }
100% { transform: perspective(400px) rotate3d(0, 1, 0, 90deg); opacity: 0; }
}
@keyframes lightSpeedIn {
0% { transform: translate3d(100%, 0px, 0px) skewX(-30deg); opacity: 0; }
60% { transform: skewX(20deg); opacity: 1; }
80% { transform: skewX(-5deg); opacity: 1; }
100% { transform: none; opacity: 1; }
}
@keyframes lightSpeedOut {
0% { opacity: 1; }
100% { transform: translate3d(100%, 0px, 0px) skewX(30deg); opacity: 0; }
}
@keyframes rotateIn {
0% { transform-origin: center center 0px; transform: rotate3d(0, 0, 1, -200deg); opacity: 0; }
100% { transform-origin: center center 0px; transform: none; opacity: 1; }
}
@keyframes rotateInDownLeft {
0% { transform-origin: left bottom 0px; transform: rotate3d(0, 0, 1, -45deg); opacity: 0; }
100% { transform-origin: left bottom 0px; transform: none; opacity: 1; }
}
@keyframes rotateInDownRight {
0% { transform-origin: right bottom 0px; transform: rotate3d(0, 0, 1, 45deg); opacity: 0; }
100% { transform-origin: right bottom 0px; transform: none; opacity: 1; }
}
@keyframes rotateInUpLeft {
0% { transform-origin: left bottom 0px; transform: rotate3d(0, 0, 1, 45deg); opacity: 0; }
100% { transform-origin: left bottom 0px; transform: none; opacity: 1; }
}
@keyframes rotateInUpRight {
0% { transform-origin: right bottom 0px; transform: rotate3d(0, 0, 1, -90deg); opacity: 0; }
100% { transform-origin: right bottom 0px; transform: none; opacity: 1; }
}
@keyframes rotateOut {
0% { transform-origin: center center 0px; opacity: 1; }
100% { transform-origin: center center 0px; transform: rotate3d(0, 0, 1, 200deg); opacity: 0; }
}
@keyframes rotateOutDownLeft {
0% { transform-origin: left bottom 0px; opacity: 1; }
100% { transform-origin: left bottom 0px; transform: rotate3d(0, 0, 1, 45deg); opacity: 0; }
}
@keyframes rotateOutDownRight {
0% { transform-origin: right bottom 0px; opacity: 1; }
100% { transform-origin: right bottom 0px; transform: rotate3d(0, 0, 1, -45deg); opacity: 0; }
}
@keyframes rotateOutUpLeft {
0% { transform-origin: left bottom 0px; opacity: 1; }
100% { transform-origin: left bottom 0px; transform: rotate3d(0, 0, 1, -45deg); opacity: 0; }
}
@keyframes rotateOutUpRight {
0% { transform-origin: right bottom 0px; opacity: 1; }
100% { transform-origin: right bottom 0px; transform: rotate3d(0, 0, 1, 90deg); opacity: 0; }
}
@keyframes hinge {
0% { transform-origin: left top 0px; animation-timing-function: ease-in-out; }
20%, 60% { transform: rotate3d(0, 0, 1, 80deg); transform-origin: left top 0px; animation-timing-function: ease-in-out; }
40%, 80% { transform: rotate3d(0, 0, 1, 60deg); transform-origin: left top 0px; animation-timing-function: ease-in-out; opacity: 1; }
100% { transform: translate3d(0px, 700px, 0px); opacity: 0; }
}
@keyframes jackInTheBox {
0% { opacity: 0; transform: scale(0.1) rotate(30deg); transform-origin: center bottom 0px; }
50% { transform: rotate(-10deg); }
70% { transform: rotate(3deg); }
100% { opacity: 1; transform: scale(1); }
}
@keyframes rollIn {
0% { opacity: 0; transform: translate3d(-100%, 0px, 0px) rotate3d(0, 0, 1, -120deg); }
100% { opacity: 1; transform: none; }
}
@keyframes rollOut {
0% { opacity: 1; }
100% { opacity: 0; transform: translate3d(100%, 0px, 0px) rotate3d(0, 0, 1, 120deg); }
}
@keyframes zoomIn {
0% { opacity: 0; transform: scale3d(0.3, 0.3, 0.3); }
50% { opacity: 1; }
}
@keyframes zoomInDown {
0% { opacity: 0; transform: scale3d(0.1, 0.1, 0.1) translate3d(0px, -1000px, 0px); animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19); }
60% { opacity: 1; transform: scale3d(0.475, 0.475, 0.475) translate3d(0px, 60px, 0px); animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1); }
}
@keyframes zoomInLeft {
0% { opacity: 0; transform: scale3d(0.1, 0.1, 0.1) translate3d(-1000px, 0px, 0px); animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19); }
60% { opacity: 1; transform: scale3d(0.475, 0.475, 0.475) translate3d(10px, 0px, 0px); animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1); }
}
@keyframes zoomInRight {
0% { opacity: 0; transform: scale3d(0.1, 0.1, 0.1) translate3d(1000px, 0px, 0px); animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19); }
60% { opacity: 1; transform: scale3d(0.475, 0.475, 0.475) translate3d(-10px, 0px, 0px); animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1); }
}
@keyframes zoomInUp {
0% { opacity: 0; transform: scale3d(0.1, 0.1, 0.1) translate3d(0px, 1000px, 0px); animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19); }
60% { opacity: 1; transform: scale3d(0.475, 0.475, 0.475) translate3d(0px, -60px, 0px); animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1); }
}
@keyframes zoomOut {
0% { opacity: 1; }
50% { opacity: 0; transform: scale3d(0.3, 0.3, 0.3); }
100% { opacity: 0; }
}
@keyframes zoomOutDown {
40% { opacity: 1; transform: scale3d(0.475, 0.475, 0.475) translate3d(0px, -60px, 0px); animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19); }
100% { opacity: 0; transform: scale3d(0.1, 0.1, 0.1) translate3d(0px, 2000px, 0px); transform-origin: center bottom 0px; animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1); }
}
@keyframes zoomOutLeft {
40% { opacity: 1; transform: scale3d(0.475, 0.475, 0.475) translate3d(42px, 0px, 0px); }
100% { opacity: 0; transform: scale(0.1) translate3d(-2000px, 0px, 0px); transform-origin: left center 0px; }
}
@keyframes zoomOutRight {
40% { opacity: 1; transform: scale3d(0.475, 0.475, 0.475) translate3d(-42px, 0px, 0px); }
100% { opacity: 0; transform: scale(0.1) translate3d(2000px, 0px, 0px); transform-origin: right center 0px; }
}
@keyframes zoomOutUp {
40% { opacity: 1; transform: scale3d(0.475, 0.475, 0.475) translate3d(0px, 60px, 0px); animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19); }
100% { opacity: 0; transform: scale3d(0.1, 0.1, 0.1) translate3d(0px, -2000px, 0px); transform-origin: center bottom 0px; animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1); }
}
@keyframes slideInDown {
0% { transform: translate3d(0px, -100%, 0px); visibility: visible; }
100% { transform: translate3d(0px, 0px, 0px); }
}
@keyframes slideInLeft {
0% { transform: translate3d(-100%, 0px, 0px); visibility: visible; }
100% { transform: translate3d(0px, 0px, 0px); }
}
.slideInLeft { animation-name: slideInLeft; }
@keyframes slideInRight {
0% { transform: translate3d(100%, 0px, 0px); visibility: visible; }
100% { transform: translate3d(0px, 0px, 0px); }
}
@keyframes slideInUp {
0% { transform: translate3d(0px, 100%, 0px); visibility: visible; }
100% { transform: translate3d(0px, 0px, 0px); }
}
@keyframes slideOutDown {
0% { transform: translate3d(0px, 0px, 0px); }
100% { visibility: hidden; transform: translate3d(0px, 100%, 0px); }
}
@keyframes slideOutLeft {
0% { transform: translate3d(0px, 0px, 0px); }
100% { visibility: hidden; transform: translate3d(-100%, 0px, 0px); }
}
@keyframes slideOutRight {
0% { transform: translate3d(0px, 0px, 0px); }
100% { visibility: hidden; transform: translate3d(100%, 0px, 0px); }
}
@keyframes slideOutUp {
0% { transform: translate3d(0px, 0px, 0px); }
100% { visibility: hidden; transform: translate3d(0px, -100%, 0px); }
}
@font-face {
  font-family: "icomoon";
  font-style: normal;
  font-weight: normal;
  src: url("icomoon.eot") format("embedded-opentype"), url("icomoon.woff") format("woff"), url("icomoon.ttf") format("truetype"), url("icomoon.svg") format("svg");
}
.dl-menuwrapper { width: 100%; float: left; position: relative; perspective: 1000px; perspective-origin: 50% 200%; }
.dl-menuwrapper:first-child { margin-right: 100px; }
.dl-menuwrapper button { background: rgb(159, 0, 2) none repeat scroll 0% 0%; border: medium none; width: 40px; height: 40px; text-indent: -900em; overflow: hidden; position: relative; cursor: pointer; outline: medium none; float: right; }
.dl-menuwrapper button:hover, .dl-menuwrapper button.dl-active, .dl-menuwrapper ul { background: rgb(159, 0, 2) none repeat scroll 0% 0%; }
.dl-menuwrapper ul { padding: 0px; list-style: outside none none; transform-style: preserve-3d; }
.dl-menuwrapper li { position: relative; }
.dl-menuwrapper li a { display: block; position: relative; padding: 15px 20px; font-size: 16px; line-height: 20px; font-weight: 300; color: rgb(255, 255, 255); outline: medium none; }
.no-touch .dl-menuwrapper li a:hover { background: rgba(255, 248, 213, 0.1) none repeat scroll 0% 0%; }
.dl-menuwrapper li.dl-back > a { padding-left: 30px; background: rgb(121, 103, 68) none repeat scroll 0% 0%; }
.dl-menuwrapper li.dl-back::after, .dl-menuwrapper li > a:not(:only-child)::after { position: absolute; top: 0px; line-height: 50px; font-family: "icomoon"; content: ""; }
.dl-menuwrapper li.dl-back::after { left: 10px; color: rgba(212, 204, 198, 0.3); transform: rotate(180deg); }
.dl-menuwrapper li > a::after { right: 10px; color: rgba(0, 0, 0, 0.15); }
.dl-menuwrapper .dl-menu { margin: 5px 0px 0px; position: absolute; width: 100%; opacity: 0; pointer-events: none; transform: translateY(10px); backface-visibility: hidden; top: 42px; }
.dl-menuwrapper li .dl-submenu { display: none; }
@keyframes MenuAnimOut1 {
0% {  }
50% { transform: translateZ(-250px) rotateY(30deg); }
75% { transform: translateZ(-372.5px) rotateY(15deg); opacity: 0.5; }
100% { transform: translateZ(-500px) rotateY(0deg); opacity: 0; }
}
@keyframes MenuAnimOut2 {
0% {  }
100% { transform: translateX(-100%); opacity: 0; }
}
@keyframes MenuAnimOut3 {
0% {  }
100% { transform: translateZ(300px); opacity: 0; }
}
@keyframes MenuAnimOut4 {
0% {  }
100% { transform: translateZ(-300px); opacity: 0; }
}
@keyframes MenuAnimOut5 {
0% {  }
100% { transform: translateY(40%); opacity: 0; }
}
@keyframes MenuAnimOut1 {
0% {  }
50% { transform: translateZ(-250px) rotateY(30deg); }
75% { transform: translateZ(-372.5px) rotateY(15deg); opacity: 0.5; }
100% { transform: translateZ(-500px) rotateY(0deg); opacity: 0; }
}
@keyframes MenuAnimOut2 {
0% {  }
100% { transform: translateX(-100%); opacity: 0; }
}
@keyframes MenuAnimOut3 {
0% {  }
100% { transform: translateZ(300px); opacity: 0; }
}
@keyframes MenuAnimOut4 {
0% {  }
100% { transform: translateZ(-300px); opacity: 0; }
}
@keyframes MenuAnimOut5 {
0% {  }
100% { transform: translateY(40%); opacity: 0; }
}
@keyframes MenuAnimIn1 {
0% { transform: translateZ(-500px) rotateY(0deg); opacity: 0; }
20% { transform: translateZ(-250px) rotateY(30deg); opacity: 0.5; }
100% { transform: translateZ(0px) rotateY(0deg); opacity: 1; }
}
@keyframes MenuAnimIn2 {
0% { transform: translateX(-100%); opacity: 0; }
100% { transform: translateX(0px); opacity: 1; }
}
@keyframes MenuAnimIn3 {
0% { transform: translateZ(300px); opacity: 0; }
100% { transform: translateZ(0px); opacity: 1; }
}
@keyframes MenuAnimIn4 {
0% { transform: translateZ(-300px); opacity: 0; }
100% { transform: translateZ(0px); opacity: 1; }
}
@keyframes MenuAnimIn5 {
0% { transform: translateY(40%); opacity: 0; }
100% { transform: translateY(0px); opacity: 1; }
}
@keyframes MenuAnimIn1 {
0% { transform: translateZ(-500px) rotateY(0deg); opacity: 0; }
20% { transform: translateZ(-250px) rotateY(30deg); opacity: 0.5; }
100% { transform: translateZ(0px) rotateY(0deg); opacity: 1; }
}
@keyframes MenuAnimIn2 {
0% { transform: translateX(-100%); opacity: 0; }
100% { transform: translateX(0px); opacity: 1; }
}
@keyframes MenuAnimIn3 {
0% { transform: translateZ(300px); opacity: 0; }
100% { transform: translateZ(0px); opacity: 1; }
}
@keyframes MenuAnimIn4 {
0% { transform: translateZ(-300px); opacity: 0; }
100% { transform: translateZ(0px); opacity: 1; }
}
@keyframes MenuAnimIn5 {
0% { transform: translateY(40%); opacity: 0; }
100% { transform: translateY(0px); opacity: 1; }
}
@keyframes SubMenuAnimIn1 {
0% { transform: translateX(50%); opacity: 0; }
100% { transform: translateX(0px); opacity: 1; }
}
@keyframes SubMenuAnimIn2 {
0% { transform: translateX(100%); opacity: 0; }
100% { transform: translateX(0px); opacity: 1; }
}
@keyframes SubMenuAnimIn3 {
0% { transform: translateZ(-300px); opacity: 0; }
100% { transform: translateZ(0px); opacity: 1; }
}
@keyframes SubMenuAnimIn4 {
0% { transform: translateZ(300px); opacity: 0; }
100% { transform: translateZ(0px); opacity: 1; }
}
@keyframes SubMenuAnimIn5 {
0% { transform: translateZ(-200px); opacity: 0; }
100% { transform: translateZ(0px); opacity: 1; }
}
@keyframes SubMenuAnimIn1 {
0% { transform: translateX(50%); opacity: 0; }
100% { transform: translateX(0px); opacity: 1; }
}
@keyframes SubMenuAnimIn2 {
0% { transform: translateX(100%); opacity: 0; }
100% { transform: translateX(0px); opacity: 1; }
}
@keyframes SubMenuAnimIn3 {
0% { transform: translateZ(-300px); opacity: 0; }
100% { transform: translateZ(0px); opacity: 1; }
}
@keyframes SubMenuAnimIn4 {
0% { transform: translateZ(300px); opacity: 0; }
100% { transform: translateZ(0px); opacity: 1; }
}
@keyframes SubMenuAnimIn5 {
0% { transform: translateZ(-200px); opacity: 0; }
100% { transform: translateZ(0px); opacity: 1; }
}
@keyframes SubMenuAnimOut1 {
0% { transform: translateX(0%); opacity: 1; }
100% { transform: translateX(50%); opacity: 0; }
}
@keyframes SubMenuAnimOut2 {
0% { transform: translateX(0%); opacity: 1; }
100% { transform: translateX(100%); opacity: 0; }
}
@keyframes SubMenuAnimOut3 {
0% { transform: translateZ(0px); opacity: 1; }
100% { transform: translateZ(-300px); opacity: 0; }
}
@keyframes SubMenuAnimOut4 {
0% { transform: translateZ(0px); opacity: 1; }
100% { transform: translateZ(300px); opacity: 0; }
}
@keyframes SubMenuAnimOut5 {
0% { transform: translateZ(0px); opacity: 1; }
100% { transform: translateZ(-200px); opacity: 0; }
}
@keyframes SubMenuAnimOut1 {
0% { transform: translateX(0%); opacity: 1; }
100% { transform: translateX(50%); opacity: 0; }
}
@keyframes SubMenuAnimOut2 {
0% { transform: translateX(0%); opacity: 1; }
100% { transform: translateX(100%); opacity: 0; }
}
@keyframes SubMenuAnimOut3 {
0% { transform: translateZ(0px); opacity: 1; }
100% { transform: translateZ(-300px); opacity: 0; }
}
@keyframes SubMenuAnimOut4 {
0% { transform: translateZ(0px); opacity: 1; }
100% { transform: translateZ(300px); opacity: 0; }
}
@keyframes SubMenuAnimOut5 {
0% { transform: translateZ(0px); opacity: 1; }
100% { transform: translateZ(-200px); opacity: 0; }
}
.cd-nav-trigger { overflow: hidden; text-indent: 100%; white-space: nowrap; z-index: 778; }
.cd-nav-trigger span { position: absolute; display: block; width: 20px; height: 2px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; top: 50%; margin-top: -1px; left: 50%; margin-left: -10px; transition: background 0.3s ease 0s; }
.cd-nav-trigger span::before, .cd-nav-trigger span::after { content: ""; position: absolute; left: 0px; background: inherit; width: 100%; height: 100%; transform: translateZ(0px); backface-visibility: hidden; transition: transform 0.3s ease 0s, background 0s ease 0s; }
.cd-nav-trigger span::before { top: -6px; transform: rotate(0deg); }
.cd-nav-trigger span::after { bottom: -6px; transform: rotate(0deg); }
.spinner { width: 150px; height: 150px; position: relative; transform: translateX(-50%) translateY(-50%); background-image: url("patria_preloader_2.gif"); }
.form-item-lang-dropdown-select { display: inline; }
