/* Code tidied up by ScrapBook */
.element-invisible { position: absolute !important; clip: rect(1px, 1px, 1px, 1px); overflow: hidden; height: 1px; }
.element-invisible.element-focusable:active, .element-invisible.element-focusable:focus { position: static !important; clip: auto; overflow: visible; height: auto; }
.clearfix::after { content: "."; display: block; height: 0px; clear: both; visibility: hidden; }
